<%- include("partials/header"); -%>

<div class="container">
  <button type="button" id="sidebarBtn" class="showSidebar mobileOn btn btn-info">
    <i class="fas fa-align-left mr-3"></i>
    <span>Lists</span>
  </button>
</div>

<div class="container" id="listContainer">
    <!-- Box for list title and things to do -->
  <div class="box">
      <!-- List Title -->
    <div class="headers">
      <h1></h1>
      <form action="/editTitle" method="post">
        <input data-toggle="tooltip" data-placement="bottom" title="Click to edit title" type="text" class="listTitleInput" name="newListTitle" value="<%= showList.name %>" autocomplete="off">
        <input type="hidden" name="formattedTitle" value="<%= showList.formattedName %>">
      </form>
      
    </div>
    <!-- To Do Items -->
    <% showList.toDo.forEach(function(toDo){ %>
    <div class="toDoItems item">
        <form action="/done" method="post" class="editableForm">
            <input type="checkbox" onchange="this.form.submit()">
            <input type="text" name="toDoContent" class="toDo" value="<%= toDo.content %>" autocomplete="off"/>       
            <input type="hidden" name="itemID" value="<%= toDo._id %>"> 
            <input type="hidden" name="listName" value="<%= showList.formattedName %>">
        </form>
        <!-- Delete Item form -->
        <form action="/delete" method="post">
            <input type="hidden" name="deleteID" value="<%= toDo._id %>">
            <input type="hidden" name="deleteListName" value="<%= showList.formattedName %>">
            <button type="submit" class="close mobileOn" name="deleteFrom" value="toDo" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </form>
    </div>
    <% }); %>
    <!-- Add New Item Input -->
    <div class="toDoItems item addNewItem">
      <form action="/addItem" method="post" class="item inputForm">
        <span class="plus">&#65291</span>
        <input type="text" class="newItem" name="newItem" autocomplete="off" placeholder="Add new item"/>
        <input type="hidden" name="list" value="<%= showList.formattedName %>">
      </form>
    </div>
  </div>

  <!-- Done items -->
  <div class="box doneBox">
    <div class="headers">
        <h4>Completed Tasks</h4>
    </div>
    <% showList.done.forEach(function(done){ %>
    <div class="doneItems item">
        <form class="editableForm" action="/toDoAgain" method="post">
            <input type="checkbox" name="doneCheck" onchange="this.form.submit()" checked>
            <input type="text" name="doneContent" class="done" value="<%= done.content %>" autocomplete="off"/>
            <input type="hidden" name="doneID" value="<%= done._id %>">
            <input type="hidden" name="doneListName" value="<%= showList.formattedName %>">
        </form>
        <!-- Delete Item form -->
        <form action="/delete" method="post">
            <input type="hidden" name="deleteID" value="<%= done._id %>">
            <input type="hidden" name="deleteListName" value="<%= showList.formattedName %>">
            <button type="submit" class="close mobileOn" name="deleteFrom" value="done" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </form>
              
    </div>
    <% }); %>
    <div class="item space">&nbsp</div> 
  </div>

</div>

<%- include("partials/footer"); -%>
