<%- include("partials/header"); -%>

<div>
  <button type="button" id="sidebarBtn" class="showSidebar btn btn-info">
    <i class="fas fa-align-left"></i>
    <span></span>
  </button>
</div>

<div class="container" id="listContainer">
    <!-- Box for list title and things to do -->
  <div class="box">
      <!-- List Title -->
    <div class="headers">
      <h1><%= showList.name %></h1>
    </div>
    <!-- To Do Items -->
    <% showList.toDo.forEach(function(toDo){ %>
    <div class="toDoItems item">
        <form action="/done" method="post">
            <input type="checkbox" name="checkbox" value="<%= toDo._id %>" onchange="this.form.submit()">
            <input type="text" value="<%= toDo.content %>" />
            <input type="hidden" name="toDoContent" value="<%= toDo.content %>">
            <input type="hidden" name="listName" value="<%= showList.formattedName %>">
        </form>        
    </div>
    <% }); %>
    <!-- Add New Item Input -->
    <div class="toDoItems item addNewItem">
      <form action="/addItem" method="post" class="item">
        <span class="plus">&#65291</span>
        <input type="text" class="newItem" name="newItem" autocomplete="off" placeholder="Add new item"/>
        <button type="submit" class="btn btn-dark addNewBtn" name="list" value="<%= showList.formattedName %>">&#65291</button>
      </form>
    </div>
  </div>

  <!-- Done items -->
  <div class="box">
    <div class="headers">
        <h4>Completed Tasks</h4>
    </div>
    <% showList.done.forEach(function(done){ %>
    <div class="doneItems">
        <form class="item" action="/toDoAgain" method="post">
            <input type="checkbox" name="doneCheck" onchange="this.form.submit()" checked>
            <p class="done"><%= done.content %></p>
            <input type="hidden" name="doneID" value="<%= done._id %>">
            <input type="hidden" name="doneContent" value="<%= done.content %>">
            <input type="hidden" name="doneListName" value="<%= showList.formattedName %>">
        </form>       
    </div>
    <% }); %>
  </div>

</div>

<%- include("partials/footer"); -%>
