<%- include("partials/header"); -%>

<div>
  <h1><%= showList.name %></h1>
</div>

<div>
    <button type="button" id="sidebarCollapse" class="btn btn-info">
        <i class="fas fa-align-left"></i>
        <span>Toggle Sidebar</span>
      </button>
</div>

<div>
    <p>To Do</p>
    <ul>
        <% showList.toDo.forEach(toDo => { %>
            <li><%= toDo.content %></li>
        <% }); %>
    </ul>
</div>

<div>
    <p>Done</p>
    <ul>
        <% showList.done.forEach(done => { %>
            <li><%= done.content %></li>
        <% }); %>
    </ul>
</div>

<div>
    <form action="/addItem" method="post">
    <input type="text" name="newItem" autocomplete="off">
    <button type="submit" name="list" value="<%= showList.formattedName %>">Add</button>
</form>
</div>

<%- include("partials/footer"); -%>
